* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 40%;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveIn {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@font-face {
  font-family: 'Euclid Circular A';
  src: url("../../fonts/EuclidCircularA-Medium.eot");
  src: local("Euclid Circular A Medium"), local("EuclidCircularA-Medium"), url("../../fonts/EuclidCircularA-Medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/EuclidCircularA-Medium.woff2") format("woff2"), url("../../fonts/EucldCircularA-Medium.woff") format("woff"), url("../../fonts/EuclidCircularA-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid Circular A';
  src: url("../../fonts/EuclidCircularA-Bold.eot");
  src: local("Euclid Circular A Bold"), local("EuclidCircularA-Bold"), url("../../fonts/EuclidCircularA-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/EuclidCircularA-Bold.woff2") format("woff2"), url("../../fonts/EuclidCircularA-Bold.woff") format("woff"), url("../../fonts/EuclidCircularA-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid Circular A';
  src: url("../../fonts/EuclidCircularA-Light.eot");
  src: local("Euclid Circular A Light"), local("EuclidCircularA-Light"), url("../../fonts/EuclidCircularA-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/EuclidCircularA-Light.woff2") format("woff2"), url("../../fonts/EuclidCircularA-Light.woff") format("woff"), url("../../fonts/EuclidCircularA-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid Circular A';
  src: url("../../fonts/EuclidCircularA-Regular.eot");
  src: local("Euclid Circular A Regular"), local("EuclidCircularA-Regular"), url("../../fonts/EuclidCircularA-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/EuclidCircularA-Regular.woff2") format("woff2"), url("../../fonts/EuclidCircularA-Regular.woff") format("woff"), url("../../fonts/EuclidCircularA-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Euclid Circular A", Arial, Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.6;
}

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Euclid Circular A", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.heading-1 {
  font-size: 3.5rem;
  line-height: 3rem;
}

.heading-2 {
  line-height: 4.5rem;
  font-size: 4rem;
}

.heading-3 {
  font-size: 2.2rem;
  text-transform: uppercase;
}

.heading-4 {
  font-size: 2.1rem;
}

.ms {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mb-lg {
  margin-bottom: 4rem;
}

.mb-xl {
  margin-bottom: 6rem;
}

body {
  position: relative;
  font-family: "Euclid Circular A", Arial, Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.6;
}

* {
  transition: all .2s;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-family: "Euclid Circular A", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #ffffff;
}

@media only screen and (max-width: 37.5em) {
  nav {
    padding: 2rem 5rem;
  }
}

nav h2 {
  font-size: 3.2rem;
  line-height: 4.1rem;
  font-family: "Euclid Circular A", Arial, Helvetica, sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: normal;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

nav figure {
  margin-top: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 10rem;
}

nav figure img {
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav ul li {
  background-color: #ffffff;
}

nav ul li.quotelink {
  background-color: #444148;
}

nav ul li.quotelink:hover {
  background-color: #EAE3D9;
}

nav ul li a {
  background-color: #ffffff;
  padding: 2.5rem;
  transition: all .2s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 37.5em) {
  nav ul li a {
    margin-left: .5rem;
    padding: 2rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  nav ul li a svg {
    width: 1.8rem;
    height: 1.8rem;
  }
}

nav ul li a:hover {
  background-color: #EAE3D9;
}

nav ul li a.active {
  background-color: #EAE3D9;
}

nav ul li a.quotelink {
  background-color: #444148;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-family: "Euclid Circular A", Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
}

nav ul li a.quotelink:hover {
  color: #444148;
  background-color: #EAE3D9;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.hero {
  display: flex;
  justify-content: space-between;
  margin: 0 8rem;
  height: 64rem;
  background-color: #FAFAFA;
}

@media only screen and (max-width: 50em) {
  .hero {
    flex-wrap: wrap;
    height: auto;
  }
}

@media only screen and (max-width: 37.5em) {
  .hero {
    margin: 0 5rem;
  }
}

.hero__left {
  flex-basis: 30%;
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}

@media only screen and (max-width: 56.25em) {
  .hero__left {
    flex-basis: 40%;
  }
}

@media only screen and (max-width: 50em) {
  .hero__left {
    flex-basis: 100%;
    padding: 6rem;
    margin-bottom: 3rem;
  }
}

.hero__left ul {
  display: flex;
  margin-bottom: 2rem;
}

.hero__left ul li {
  margin-right: 2rem;
}

.hero__left ul li a {
  font-size: 1.6rem;
  line-height: 2rem;
  font-family: "Euclid Circular A", Arial, Helvetica, sans-serif;
  color: #999999;
  font-style: normal;
  font-weight: normal;
}

.hero__left h2 {
  font-size: 7.2rem;
  line-height: 9.1rem;
  font-family: "Euclid Circular A", Arial, Helvetica, sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: bold;
}

.hero__right {
  flex-basis: 70%;
  height: 64rem;
  background-color: #E8ECEB;
}

@media only screen and (max-width: 56.25em) {
  .hero__right {
    flex-basis: 60%;
  }
}

@media only screen and (max-width: 50em) {
  .hero__right {
    flex-basis: 100%;
    height: auto;
  }
}

.hero__right figure {
  width: 100%;
  height: 64rem;
}

@media only screen and (max-width: 50em) {
  .hero__right figure {
    height: auto;
  }
}

.hero__right figure img {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 50em) {
  .hero__right figure img {
    height: auto;
  }
}

.category {
  padding: 10rem 8rem;
  background: #FAFAFA;
}

.category h2 {
  font-size: 7.2rem;
  line-height: 9.1rem;
  font-family: "Euclid Circular A", Arial, Helvetica, sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 5rem;
  width: 60%;
}

@media only screen and (max-width: 50em) {
  .category h2 {
    width: 80%;
  }
}

@media only screen and (max-width: 37.5em) {
  .category h2 {
    width: 100%;
  }
}

.category__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.category__container__item {
  flex-basis: 48%;
  flex-grow: 0;
  flex-shrink: 0;
}

.category__container__item.left {
  padding-top: 5rem;
}

@media only screen and (max-width: 37.5em) {
  .category__container__item.left {
    padding-top: 0;
  }
}

.category__cta {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 2rem;
}

@media only screen and (max-width: 37.5em) {
  .category__cta {
    justify-content: flex-end;
  }
}

.category__cta a {
  padding: 2rem;
  background: #444148;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20rem;
  cursor: pointer;
}

.category__cta a:hover {
  background: rgba(68, 65, 72, 0.7);
  color: #ffffff;
}

.designs {
  margin: 8rem;
  margin-top: 9rem;
}

@media only screen and (max-width: 50em) {
  .designs {
    margin-top: 25rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .designs {
    margin: 5rem;
    margin-top: 15rem;
  }
}

.designs::-webkit-scrollbar {
  scrollbar-width: none;
  display: none;
}

.designs h2 {
  font-size: 1.6rem;
  line-height: 2rem;
  font-family: "Euclid Circular A", Arial, Helvetica, sans-serif;
  color: #999999;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 2rem;
}

.designs h3 {
  font-size: 7.2rem;
  line-height: 9.1rem;
  font-family: "Euclid Circular A", Arial, Helvetica, sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: bold;
  width: 60%;
}

@media only screen and (max-width: 50em) {
  .designs h3 {
    width: 80%;
  }
}

@media only screen and (max-width: 37.5em) {
  .designs h3 {
    width: 100%;
  }
}

.designs__indicator {
  width: 100%;
  height: 5px;
  background-color: #DDDDDD;
  border-radius: 5px;
  margin-top: 5rem;
  cursor: pointer;
  overflow: hidden;
}

.designs__indicator__box {
  background-color: #666666;
  width: 0rem;
  height: 5px;
  border-radius: 5px;
  transition: all .2s;
}

.designs__content {
  display: flex;
  margin-top: 3rem;
  margin-bottom: 3rem;
  overflow-x: scroll;
  scrollbar-width: none;
  z-index: 0;
  transition: all .2s;
  scrollbar-width: none;
}

.designs__content::-webkit-scrollbar {
  scrollbar-width: none;
  display: none;
}

.designs__content-item {
  margin-right: 3rem;
  flex-basis: auto;
}

.designs__content-item::-webkit-scrollbar {
  scrollbar-width: none;
}

.designs__content-item figure {
  margin-bottom: 2rem;
}

.designs__content-item figure img {
  width: auto;
  height: auto;
}

.designs__content-item h4 {
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-family: "Euclid Circular A", Arial, Helvetica, sans-serif;
  color: #444148;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 1rem;
}

.designs__content-item h5 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-family: "Euclid Circular A", Arial, Helvetica, sans-serif;
  color: #444148;
  font-style: normal;
  font-weight: normal;
}

.shapes {
  display: flex;
  margin: 8rem;
  margin-top: 10rem;
}

.shapes__left {
  flex-basis: 60%;
}

@media only screen and (max-width: 50em) {
  .shapes__left {
    flex-basis: 70%;
  }
}

@media only screen and (max-width: 43.75em) {
  .shapes__left {
    flex-basis: 100%;
  }
}

@media only screen and (max-width: 37.5em) {
  .shapes__left {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

.shapes__left h2 {
  font-size: 7.2rem;
  line-height: 9.1rem;
  font-family: "Euclid Circular A", Arial, Helvetica, sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: bold;
}

.shapes__left p {
  margin-top: 2rem;
  font-size: 1.6rem;
  line-height: 2rem;
  font-family: "Euclid Circular A", Arial, Helvetica, sans-serif;
  color: #666666;
  font-style: normal;
  font-weight: bold;
}

.shapes__right {
  flex-basis: 40%;
}

@media only screen and (max-width: 50em) {
  .shapes__right {
    flex-basis: 30%;
  }
}

@media only screen and (max-width: 43.75em) {
  .shapes__right {
    display: none;
  }
}

.features {
  margin: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media only screen and (max-width: 37.5em) {
  .features {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

.features h1 {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  line-height: 2rem;
  font-family: "Euclid Circular A", Arial, Helvetica, sans-serif;
  color: #444148;
  font-style: normal;
  font-weight: bold;
}

.features__selector {
  display: flex;
}

.features__selector button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  margin-right: 1.5rem;
  outline: none;
  border: none;
  cursor: pointer;
  width: 11rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-family: "Euclid Circular A", Arial, Helvetica, sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: normal;
}

.features__selector button:hover, .features__selector button.active {
  color: #FAFAFA;
  background-color: #000000;
}

.features__container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 4rem;
  overflow: hidden;
}

.features__container-item {
  flex-basis: 29rem;
  flex-basis: 23%;
  margin-bottom: 5rem;
  flex-grow: 0;
  border-bottom: 1px solid #EEEEEE;
}

@media only screen and (max-width: 50em) {
  .features__container-item {
    flex-basis: 45%;
  }
}

@media only screen and (max-width: 37.5em) {
  .features__container-item {
    flex-basis: 100%;
  }
}

.features__container-item figure {
  width: 29rem;
  width: 100%;
  height: 29rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 37.5em) {
  .features__container-item figure {
    height: auto;
  }
}

.features__container-item figure img {
  width: 100%;
  height: 100%;
}

.features__container-item h6 {
  font-size: 1.6rem;
  line-height: 2rem;
  font-family: "Euclid Circular A", Arial, Helvetica, sans-serif;
  color: #444148;
  font-style: normal;
  font-weight: normal;
}

.features__container-item .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.features__container-item .row h5 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-family: "Euclid Circular A", Arial, Helvetica, sans-serif;
  color: #444148;
  font-style: normal;
  font-weight: bold;
}

.features__container-item .row button {
  border: none;
  outline: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background: #E8ECEB;
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer ul li {
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-family: "Euclid Circular A", Arial, Helvetica, sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: bold;
  margin-right: 4rem;
}

@media only screen and (max-width: 37.5em) {
  .footer ul li {
    margin-right: 2rem;
  }
}

.footer ul li.cr {
  margin-right: 8rem;
}

@media only screen and (max-width: 37.5em) {
  .footer ul li.cr {
    margin-right: 4rem;
  }
}

.footer ul li a {
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-family: "Euclid Circular A", Arial, Helvetica, sans-serif;
  color: #666666;
  font-style: normal;
  font-weight: normal;
}

#designs__content::-webkit-scrollbar {
  scrollbar-width: none;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 69rem;
  background-color: #FAFAFA;
}

@media only screen and (max-width: 56.25em) {
  .header {
    flex-wrap: wrap;
    height: auto;
  }
}

.header__details {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 8rem;
}

.header__details h2 {
  font-size: 7.2rem;
  line-height: 9.1rem;
  font-family: "Euclid Circular A", Arial, Helvetica, sans-serif;
  color: #444148;
  font-style: normal;
  font-weight: bold;
}

.header__details p {
  margin-bottom: 2rem;
  font-size: 2rem;
  line-height: 2.5rem;
  font-family: "Euclid Circular A", Arial, Helvetica, sans-serif;
  color: #927265;
  font-style: normal;
  font-weight: normal;
}

.header__details a {
  padding: 2rem;
  background: #444148;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20rem;
  cursor: pointer;
}

.header__details a:hover {
  background: rgba(68, 65, 72, 0.7);
  color: #ffffff;
}

.header__image {
  flex-grow: 1;
  flex-shrink: 1;
}

.header__image h2 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-family: "Euclid Circular A", Arial, Helvetica, sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: bold;
}

.header__image.first {
  flex-basis: 47.6rem;
  flex-basis: 33%;
  position: relative;
}

@media only screen and (max-width: 37.5em) {
  .header__image.first {
    flex-basis: 100%;
  }
}

.header__image.first figure {
  height: 100%;
  position: relative;
  z-index: 2;
}

@media only screen and (max-width: 37.5em) {
  .header__image.first figure {
    height: 40rem;
  }
}

.header__image.first figure img {
  height: 100%;
}

.header__image.first .basic {
  padding: 3rem 4rem;
  background-color: #c4c4c4;
  position: absolute;
  z-index: 3;
  width: 100%;
  bottom: 0;
  left: 0;
}

@media only screen and (max-width: 37.5em) {
  .header__image.first .basic {
    position: relative;
    top: 0;
  }
}

.header__image.first .basic h6 {
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-family: "Euclid Circular A", Arial, Helvetica, sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: normal;
}

.header__image.first .basic h2 {
  color: #000000;
}

.header__image.second {
  flex-basis: 36.8rem;
  flex-basis: 25.6%;
}

@media only screen and (max-width: 37.5em) {
  .header__image.second {
    flex-basis: 100%;
  }
}

.header__image.second figure {
  height: 61.4rem;
}

@media only screen and (max-width: 37.5em) {
  .header__image.second figure {
    height: 40rem;
  }
}

.header__image.second figure img {
  height: 100%;
}

.header__image.second h2 {
  color: #ffffff;
}

.header__image.second .row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2.8rem 2rem;
  background: #444148;
}

.header__image figure {
  width: 100%;
}

.header__image figure img {
  width: 100%;
}

.product {
  width: 100%;
  margin-bottom: 2rem;
}

.product figure {
  width: 100%;
  margin-bottom: 2rem;
}

.product figure img {
  width: 100%;
  height: 100%;
}

.product__details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.product__details__box {
  height: 5.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (max-width: 37.5em) {
  .product__details__box {
    height: 5rem;
  }
}

.product__details__box h4 {
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-family: "Euclid Circular A", Arial, Helvetica, sans-serif;
  color: #444148;
  font-style: normal;
  font-weight: normal;
}

.product__details__box h5 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-family: "Euclid Circular A", Arial, Helvetica, sans-serif;
  color: #444148;
  font-style: normal;
  font-weight: bold;
}

.product__details button {
  width: 5.8rem;
  height: 5.8rem;
  background: #444148;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 37.5em) {
  .product__details button {
    display: none;
  }
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading h2 {
  font-size: 6.4rem;
  line-height: 8.1rem;
  font-family: "Euclid Circular A", Arial, Helvetica, sans-serif;
  color: #444148;
  font-style: normal;
  font-weight: bold;
}

.gallery {
  margin: 8rem;
  display: flex;
  height: 64.3rem;
}

@media only screen and (max-width: 37.5em) {
  .gallery {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

@media only screen and (max-width: 50em) {
  .gallery {
    flex-wrap: wrap;
    height: auto;
  }
}

.gallery__left {
  flex-basis: 50%;
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 50em) {
  .gallery__left {
    flex-basis: 100%;
  }
}

@media only screen and (max-width: 37.5em) {
  .gallery__left {
    flex-wrap: wrap;
  }
}

.gallery__left__row {
  width: 100%;
  display: flex;
}

@media only screen and (max-width: 37.5em) {
  .gallery__left__row {
    flex-wrap: wrap;
  }
}

.gallery__left__row figure {
  flex-basis: 50%;
  flex-shrink: 0;
  flex-grow: 0;
  height: 32.1rem;
}

@media only screen and (max-width: 37.5em) {
  .gallery__left__row figure {
    flex-basis: 100%;
    height: auto;
  }
}

.gallery__left__row figure img {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.gallery__right {
  flex-basis: 64.3rem;
  flex-basis: 50%;
  flex-shrink: 0;
  flex-grow: 0;
}

@media only screen and (max-width: 50em) {
  .gallery__right {
    flex-basis: 100%;
  }
}

.gallery__right figure {
  height: 64.2rem;
  width: 64.2rem;
  width: 100%;
}

@media only screen and (max-width: 37.5em) {
  .gallery__right figure {
    height: auto;
  }
}

.gallery__right figure img {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
}

.modal.show {
  display: flex;
  animation: moveIn 0.3s ease-in-out;
}

.modal button.controls {
  position: absolute;
  top: 40%;
  z-index: 15;
  border: none;
  outline: none;
  border-radius: 50%;
  width: 4.8rem;
  height: 4.8rem;
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.modal button.controls.previous {
  left: 5%;
}

.modal button.controls.next {
  right: 5%;
}

.modal__content {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.modal__content__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.modal__content__header .col {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.modal__content__header button {
  outline: none;
  border: none;
  background-color: rgba(232, 236, 235, 0.8);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__content__header button:hover {
  background-color: rgba(232, 236, 235, 0.5);
}

.modal__content__body {
  position: relative;
}

.modal__content__body figure {
  width: 100%;
  height: 100%;
  height: 50rem;
}

.modal__content__body figure img {
  width: 100%;
  height: 100%;
}

.modal__content__footer {
  display: flex;
  justify-content: flex-start;
  padding: 1rem 0;
  padding-bottom: 2rem;
}

.modal__content__footer img {
  height: 8rem;
  width: 8rem;
  object-fit: center;
  margin-right: 2rem;
  cursor: pointer;
  overflow: hidden;
  transition: all .2s;
}

.modal__content__footer img:hover, .modal__content__footer img.active {
  transform: scaleY(1.1);
}

.form {
  margin: 8rem;
  display: flex;
}

@media only screen and (max-width: 50em) {
  .form {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 37.5em) {
  .form {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

.form__left {
  flex-basis: 50%;
  padding: 3rem 0;
  padding-right: 3rem;
}

@media only screen and (max-width: 50em) {
  .form__left {
    flex-basis: 100%;
    margin-bottom: 5rem;
  }
}

.form__left h2 {
  font-size: 6.4rem;
  line-height: 8.1rem;
  font-family: "Euclid Circular A", Arial, Helvetica, sans-serif;
  color: #444148;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 2rem;
}

.form__left p {
  width: 70%;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-family: "Euclid Circular A", Arial, Helvetica, sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: bold;
}

.form__left form.contactForm {
  margin-top: 3rem;
}

.form__left form.contactForm .form__group {
  display: flex;
  flex-direction: column;
}

.form__left form.contactForm .form__group label {
  font-size: 1.6rem;
  line-height: 2rem;
  font-family: "Euclid Circular A", Arial, Helvetica, sans-serif;
  color: #999999;
  font-style: normal;
  font-weight: normal;
}

.form__left form.contactForm .form__group input[type="text"],
.form__left form.contactForm .form__group input[type="number"] {
  margin-bottom: 1.5rem;
  border: none;
  outline: none;
  transition: all .2s;
  border-bottom: 1px solid #999999;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.6rem;
  line-height: 2.5rem;
  font-family: "Euclid Circular A", Arial, Helvetica, sans-serif;
  color: #999999;
  font-style: normal;
  font-weight: normal;
  font-family: "Euclid Circular A", Arial, Helvetica, sans-serif;
}

.form__left form.contactForm .form__group input[type="text"]:focus,
.form__left form.contactForm .form__group input[type="number"]:focus {
  border-bottom: 1px solid #927265;
}

.form__left form.contactForm .form__group input[type="text"]:focus:invalid,
.form__left form.contactForm .form__group input[type="number"]:focus:invalid {
  border-bottom: 1px solid orangered;
}

.form__left form.contactForm .form__group input[type="text"]::-webkit-input-placeholder,
.form__left form.contactForm .form__group input[type="number"]::-webkit-input-placeholder {
  font-size: 1.6rem;
  line-height: 2.5rem;
  font-family: "Euclid Circular A", Arial, Helvetica, sans-serif;
  color: #999999;
  font-style: normal;
  font-weight: normal;
  font-family: "Euclid Circular A", Arial, Helvetica, sans-serif;
}

.form__left form.contactForm .form__group .row {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.form__left form.contactForm .form__group .row button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  line-height: 2.5rem;
  font-family: "Euclid Circular A", Arial, Helvetica, sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: normal;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

.form__left form.contactForm .form__group .row button span {
  margin-right: 1rem;
}

.form__left form.contactForm .form__group .row button:hover {
  background-color: #E8ECEB;
}

.form__right {
  flex-basis: 40%;
}

@media only screen and (max-width: 50em) {
  .form__right {
    flex-basis: 100%;
  }
}

.form__right figure {
  width: 62rem;
  width: 100%;
  height: 25.5rem;
  margin-bottom: 4rem;
}

.form__right figure img {
  width: 100%;
  height: 100%;
}

.form__right h2 {
  margin-bottom: 2rem;
  font-size: 6.4rem;
  line-height: 8.1rem;
  font-family: "Euclid Circular A", Arial, Helvetica, sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: bold;
}

.form__right p {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-family: "Euclid Circular A", Arial, Helvetica, sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: normal;
}

.form__right .form {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.form__right .form input[type="email"] {
  flex-basis: 77%;
  border: none;
  outline: none;
  transition: all .2s;
  border-bottom: 1px solid #999999;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.6rem;
  line-height: 2.5rem;
  font-family: "Euclid Circular A", Arial, Helvetica, sans-serif;
  color: #999999;
  font-style: normal;
  font-weight: normal;
  font-family: "Euclid Circular A", Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 37.5em) {
  .form__right .form input[type="email"] {
    flex-basis: 70%;
  }
}

.form__right .form input[type="email"]:focus {
  border-bottom: 1px solid #927265;
}

.form__right .form input[type="email"]:focus:invalid {
  border-bottom: 1px solid orangered;
}

.form__right .form input[type="email"]::-webkit-input-placeholder {
  font-size: 1.6rem;
  line-height: 2.5rem;
  font-family: "Euclid Circular A", Arial, Helvetica, sans-serif;
  color: #999999;
  font-style: normal;
  font-weight: normal;
  font-family: "Euclid Circular A", Arial, Helvetica, sans-serif;
}

.form__right .form button {
  flex-basis: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  line-height: 2.5rem;
  font-family: "Euclid Circular A", Arial, Helvetica, sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: normal;
  cursor: pointer;
  border: none;
  outline: none;
  border-bottom: 1px solid #999999;
  background-color: transparent;
}

@media only screen and (max-width: 37.5em) {
  .form__right .form button {
    flex-basis: 30%;
  }
}

.form__right .form button span {
  margin-right: 1rem;
}

.form__right .form button:hover {
  background-color: #E8ECEB;
}
/*# sourceMappingURL=main.css.map */