.heading {
    @include flexCenter;

    h2 {
        @include fontBold(6.4rem,8.1rem,#444148);
    }
}
//Gallery
.gallery {
    margin:8rem;
    display:flex;
    height: 64.3rem;

    @include respond(phone) { 
        margin-left:5rem;
        margin-right:5rem;
     }

    @include respond(misc1) {
        flex-wrap:wrap;
        height:auto;
    }

    &__left {
        flex-basis:50%; 
        flex-shrink:0;
        flex-grow:0;
        display:flex;
        flex-direction:column;

        @include respond(misc1) {
            flex-basis:100%;
        }

        @include respond(phone) {
            flex-wrap:wrap;
        }

        &__row {
            width:100%;
            display:flex;

            @include respond(phone) { 
                flex-wrap:wrap;
            }

            figure {
                flex-basis:50%;
                flex-shrink:0;
                flex-grow:0;
                height:32.1rem;

                @include respond(phone) { 
                    flex-basis:100%;
                    height:auto;
                }
                

                img {
                    height: 100%;
                    width: 100%; 
                    cursor: pointer;
                }
            }
        }
    }

    &__right {
        flex-basis:64.3rem;
        flex-basis:50%;
        flex-shrink:0;
        flex-grow:0;

        @include respond(misc1) {
            flex-basis:100%;
        }

        figure {
            height: 64.2rem;
            width: 64.2rem;
            width:100%;

            @include respond(phone) {
                height:auto;
            }

            img {
                height: 100%;
                width: 100%; 
                cursor: pointer;
            }
        }
    }

}

// Gallery

//Modal
    .modal {
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:100vh;
        @include flexCenter;
        z-index:10;
        background-color: rgba(#000000,0.9);
        display: none;

        &.show {
            display: flex;
            animation: moveIn 0.3s ease-in-out;
        }

        button.controls {
            position: absolute;
            top:40%;
            z-index:15;
            border:none;
            outline:none;
            border-radius: 50%;
            width:4.8rem;
            height:4.8rem;
            background: #FFFFFF;
            @include flexCenter;
            cursor: pointer;

            &.previous {
                left:5%;
            }

            &.next {
                right:5%;
            }
        }

        &__content {
            width:80%;
            display: flex;
            flex-direction: column;

            &__header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin:1rem 0;


                .col {
                    display: flex;
                    flex-direction: column;
                    color:$white;
                }

                button {
                    outline:none;
                    border:none;
                    background-color: rgba(#E8ECEB,0.8);
                    cursor:pointer;
                    @include flexCenter;

                    &:hover {
                        background-color: rgba(#E8ECEB,0.5);
                    }
                }
            }

            &__body {
                position: relative;

                figure {
                    width:100%;
                    height:100%;
                    height:50rem;

                    img {
                        width:100%;
                        height:100%;
                    }
                }
            }

            &__footer {
                display: flex;
                justify-content: flex-start;
                padding:1rem 0;
                padding-bottom: 2rem;


                img {
                    height: 8rem;
                    width: 8rem;
                    object-fit: center;
                    margin-right:2rem;
                    cursor:pointer;
                    overflow:hidden;
                    transition: all .2s;

                    &:hover,
                    &.active {
                        transform:scaleY(1.1);
                    }
                }
            }


        }
    }
//Modal