body {
    position:relative;
    font-family:$baseFont;
    font-weight:300;
    line-height:1.6;
} 

* {
    transition:all .2s;
    scroll-behavior: smooth;
}


h1,h2,h3,h4,h5,h6 {
    margin:0;
    padding:0;
}

a {
    text-decoration:none;
    font-family:$baseFont;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;

    &:hover {
        text-decoration:none;
    }

}

li {
    list-style:none;
}


body {
    display:flex;
    flex-direction:column;
}

//Nav
 nav {
     display:flex;
     justify-content: space-between;
     padding:2rem 8rem;
     padding-top:0;
     padding-bottom:0;
     background-color:$white;

     @include respond(phone) { 
         padding:2rem 5rem;
     }


     h2 {
        @include fontNormal(3.2rem,4.1rem,$black);
        padding-top:2rem;
        padding-bottom:2rem;
     }

     figure {
        margin-top:2rem;
        padding-top:2rem;
        padding-bottom:2rem;
        @include flexCenter;
        height:3rem;
        width:10rem;

        img {
            width:100%;
        }
     }


     

     ul {
        display:flex;
        justify-content: space-between;

        li {
            a {
                background-color:$white;
                margin-left:2rem;
                padding:2.5rem;
                transition:all .2s;
                cursor:pointer;
                @include flexCenter; 

                @include respond(phone) {
                    margin-left:.5rem;
                    padding:2rem;
                    padding-right:1.5rem;
                    padding-left:1.5rem;
 
                    svg {
                        width:1.8rem;
                        height:1.8rem;
                    }
                 }

                &:hover {
                    background-color:#EAE3D9;
                }

                &.active {
                    background-color:#EAE3D9;
                }

                &.quotelink {
                    background-color: #444148;
                    @include fontBold(1.4rem,1.8rem,$white); 

                    &:hover {
                        color: #444148;
                        background-color:#EAE3D9;
                    }
                }
            }
        }
     }
 }

//Nav

//Conatiner
.container {
    display:flex;
    flex-direction:column;
    background-color:$white;
}
//Contianer

// Hero
.hero {
    display:flex;
    justify-content: space-between;
    margin:0 8rem;
    height: 64rem;
    background-color: $grey;

    @include respond(misc1) {
        flex-wrap:wrap;
        height:auto;
    }

    @include respond(phone) { 
       margin:0 5rem;
    }


    &__left {
        flex-basis:30%;
        padding:4rem;
        @include flexCenter;
        flex-direction:column;
        align-items:flex-start;

        @include respond(tab-port) {
            flex-basis:40%;
        }

        @include respond(misc1) {
            flex-basis:100%;
            padding:6rem;
            margin-bottom:3rem;
        }

        ul {
            display:flex;
            margin-bottom:2rem;

            li {
                margin-right:2rem;
                a {
                    @include fontNormal(1.6rem,2rem,#999999);
                }
            }
        }

        h2 {
            @include fontBold(7.2rem,9.1rem,$black);
        }
    }

    &__right {
        flex-basis:70%;
        height: 64rem;
        background-color: $light;

        @include respond(tab-port) {
            flex-basis:60%;
        }

        @include respond(misc1) {
            flex-basis:100%;
            height:auto;
        }

        figure {
            width: 100%;
            height: 64rem;

            @include respond(misc1) {
                height:auto;
            }

            img {
                width:100%;
                height:100%;

                @include respond(misc1) {
                    height:auto;
                }
            }
        }
    }
}   

// Hero

//Category
.category {
    padding:10rem 8rem;
    background: #FAFAFA;

    h2 {
        @include fontBold(7.2rem,9.1rem,$black);
        margin-bottom:5rem;
        width:60%;
    
        @include respond(misc1) {
            width:80%;
        }
    
        @include respond(phone) {
            width:100%;
        }
    }

    &__container {
        display:flex;
        justify-content: space-between;
        align-items:flex-start;
        width:100%;

        &__item {
            flex-basis: 48%;
            flex-grow:0;
            flex-shrink:0;

            &.left {
                padding-top: 5rem;

                @include respond(phone) {
                    padding-top:0;
                 }
            }
        }
    }

    &__cta {
        display:flex;
        align-items:center;
        justify-content: flex-start;
        margin-top:2rem;

        @include respond(phone) {
            justify-content: flex-end;
        }

        a {
            padding:2rem;
            background: #444148;
            color:$white;
            display:flex;
            align-items:center;
            justify-content: space-between;
            width:20rem;
            cursor:pointer;

            &:hover {
                background: rgba(#444148,0.7);
                color:$white;
            }
        }
    }
}

//Category

// Designs
.designs {
    margin:8rem;
    margin-top:9rem;

    @include respond(misc1) {
        margin-top:25rem;
    }

    @include respond(phone) {
        margin:5rem;
        margin-top:15rem;
    }

    &::-webkit-scrollbar {
        scrollbar-width: none;
        display:none;
      }

    h2 {
        @include fontNormal(1.6rem,2rem,#999999);
        margin-bottom:2rem;
    }

    h3 {
        @include fontBold(7.2rem,9.1rem,$black);
        width:60%;

        @include respond(misc1) {
            width:80%;
        }

        @include respond(phone) {
            width:100%;
        }
    }

    &__indicator {
       width:100%;
       height:5px;
       background-color:#DDDDDD;
       border-radius:5px;
       margin-top:5rem;
       cursor:pointer;
       overflow:hidden;

    //    &:hover .designs__indicator__box {
    //     width:70rem;
    //    }

       &__box {
        background-color: #666666;
        width:0rem;
        height:5px;
        border-radius:5px;
        transition:all .2s;
       }
    }

    &__content {
        display:flex;
        margin-top:3rem; 
        margin-bottom:3rem;
        overflow-x: scroll;
        scrollbar-width: none;
        z-index: 0;
        transition:all .2s;
        scrollbar-width: none;

        &::-webkit-scrollbar {
          scrollbar-width: none;
          display:none;
        }

        &-item {
            margin-right:3rem;
            flex-basis:auto;
            
            &::-webkit-scrollbar {
                scrollbar-width: none;
            }

            figure{
                margin-bottom:2rem;

                img {
                    width:auto;
                    height:auto;
                }
            }
            h4 {
                @include fontNormal(1.4rem,1.8rem,#444148); 
                 margin-bottom:1rem;
            }

            h5 {
                @include fontNormal(2rem,2.5rem,#444148);
            }
        }

    }
}
// Designs

// Shapes
.shapes {
    display:flex;
    margin:8rem;
    margin-top:10rem;

    &__left {
        flex-basis:60%;

        @include respond(misc1) {
            flex-basis:70%;
        }

        @include respond(misc2) {
            flex-basis:100%;
        }

        @include respond(phone) { 
            margin-left:5rem;
            margin-right:5rem;
         }

        h2 {
            @include fontBold(7.2rem,9.1rem,$black);
        }

        p {
            margin-top:2rem;
            @include fontBold(1.6rem,2rem,#666666);
        }
    }

    &__right {
        flex-basis:40%;

        @include respond(misc1) {
            flex-basis:30%;
        }

        @include respond(misc2) {
            display:none;
        }
    }
}
// Shapes

//Features
.features {
    margin:8rem;
    @include flexCenter;
    flex-direction: column;

    @include respond(phone) { 
        margin-left:5rem;
        margin-right:5rem;
     }

    h1 {
        margin-bottom:2rem;
        @include fontBold(1.6rem,2rem,#444148);
    }

    &__selector {
        display:flex;

        button {
            @include flexCenter;
            padding:1.5rem;
            margin-right:1.5rem;
            outline:none;
            border:none;
            cursor:pointer;
            width:11rem;
            @include fontNormal(1.2rem,1.5rem,$black);

            &:hover,
            &.active {
                color:$grey;
                background-color: $black;
            }
        }
    }

    &__container {
        display:flex;
        width:100%;
        justify-content:space-between;
        flex-wrap:wrap;
        margin-top:4rem;
        overflow:hidden;



        &-item {
            flex-basis:29rem;
            flex-basis:23%;
            margin-bottom:5rem;
            flex-grow:0;
            border-bottom: 1px solid #EEEEEE;

            @include respond(misc1) {
                flex-basis:45%;
            }

            @include respond(phone) {
                flex-basis:100%;
            }

            figure {
                width:29rem;
                width:100%;
                height:29rem;
                margin-bottom: 2rem;

                @include respond(phone) {
                    height:auto;
                }

                img {
                    width:100%;
                    height:100%;
                }
            }

            h6 {
                @include fontNormal(1.6rem,2rem,#444148);
            }

            .row {
                display:flex;
                justify-content: space-between;
                align-items:center;
                margin-bottom: 2rem;

                h5 {
                    @include fontBold(2rem,2.5rem,#444148);
                }

                button {
                    border:none;
                    outline:none;
                    border-radius:50%;
                    @include flexCenter;
                }
            }
        }
    }
}

// /Features



//Footer
.footer {
    background: #E8ECEB;
    padding:4rem;
    display:flex;
    justify-content: space-between;
    align-items:center;

    ul {
        display:flex;
        justify-content: space-between;
        align-items:center;

        li {
            @include fontBold(1.4rem,1.8rem,$black);
            margin-right:4rem;

            @include respond(phone) {
               margin-right:2rem;
            }

            &.cr {
                margin-right:8rem;
                @include respond(phone) {
                  margin-right:4rem;
                }
            }

            a {
                @include fontNormal(1.4rem,1.8rem,#666666);
            }
        }
    }
}


//MIsc
#designs__content {
    &::-webkit-scrollbar {
        scrollbar-width: none;
    }
}
