$baseFont:"Euclid Circular A",Arial, Helvetica, sans-serif;
$light:#E8ECEB;
$brown1:#EAE3D9;
$brown2:#D7C2AD;
$primary:#927265;
$dark:#444148;
$drarkBrown:#7E6C6A;
$white:#ffffff;
$black:#000000;
$grey:#FAFAFA;